// Follow the order in the readme

@import: 'variables';
@import: 'mixins';
@import: 'reset';
@import: 'global';
@import: 'navigation';
@import: 'footer';
@import: 'home-page';

html {
 font-size: 62.5%;   
 box-sizing: border-box;
}

@mobile: ~"(max-width: 500px)";

.displayFlex(@justify, @direction, @align) {
    Display: flex;
    Justify-Content: @justify;	
    flex-direction: @direction;
    Align-items: @align;	
}			

.widthHeight(@width, @height) {
    width: @width;
    height: @height;
}

.margintoprightbottomleft(@top, @right, @bottom, @left){
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}


.fontsizefamily (@size, @family) {
    font-size: @size;
    font-family: @family;
}

.defaultMarginLeft() {
        width: 55%;
        margin-left: 5%;
}

.psize1() {
font-size: 2rem;
}

section.header {
    div.topnav {
        .displayFlex(flex-end, auto, auto);
            @media @mobile {
                .displayFlex(center, column, center);
                .widthHeight(55, 110px);
            }
        div.funbuslarge {
            .defaultMarginLeft();
            p {
                @media @mobile {
                text-align: center;
                .fontsizefamily (2.8rem, 'Indie Flower');
                }
                .widthHeight(55, auto);
                .margintoprightbottomleft(5%, 10%, 0%, 0%);
                .fontsizefamily (6rem, 'Indie Flower');
        }
    }
        nav {
            .displayFlex(space-evenly, auto, center);
            .widthHeight(50%, 164px);

            @media @mobile {
                .margintoprightbottomleft(2%, 0%, -5%, 0%);
                .widthHeight(90%, auto);
            }
            a {
                text-decoration: none;
                .psize1();
                color: black;

            @media @mobile {
                .fontsizefamily (1.8rem, auto);
                }

            }
        }    
    }
}

div.banner { 
    .displayFlex(center, auto, auto);  
    border-top: 1px dashed black; 
    img{
        .widthHeight(90%, 90%);
    }
}

section.welcome {
    .defaultMarginLeft();
        div.welcomecontent {
            h2 {
                .fontsizefamily (4rem, 'Indie Flower');
                    @media @mobile {
                        .margintoprightbottomleft(7%, -75%, auto, auto);
                        .fontsizefamily (2.5rem, 'Indie Flower');
            }
        }
            p{
            .psize1();
            .margintoprightbottomleft(0%, -64%, 0%, 0%);
            padding-bottom: 5%;
            border-bottom: 1px dashed black; 
            @media @mobile {
                .margintoprightbottomleft(3%, -70%, auto, auto);
                .fontsizefamily (1.8rem, auto);
                }
        }
    }
}

section.content-section{
   
    div.text-content {
        .displayFlex(space-evenly, column, auto);
        .margintoprightbottomleft(0%, 3%, 0%, 5%);;
        h2 {
            .fontsizefamily (4rem, 'Indie Flower');
            @media @mobile {
                .fontsizefamily (2.5rem, 'Indie Flower');
                }
        }
    
        p {
        .psize1();
        .margintoprightbottomleft(0%, 50%, 0%, 0%);
        @media @mobile {
            .margintoprightbottomleft(-2%, 2%, auto, auto);
            .fontsizefamily (1.8rem, auto);
            }
    }
}
div.img-content {
    .displayFlex(flex-end, column, auto);
    .margintoprightbottomleft(-15%, 6%, 0%, 50%);
    .displayFlex(space-evenly, auto, auto);
    @media @mobile {
        .margintoprightbottomleft(3%, 5%, -27%, 5%);
        }
       
    img {
        border-radius: 50px;
        @media @mobile {
            border-radius: 15px;
            }
        }
    }
}
section.inverse-content {
    
    div.text-content2 {
        .widthHeight(45%, auto);
        .margintoprightbottomleft(-20%, auto, 0%, 50%);
        @media @mobile {
            .widthHeight(95%, auto);
            .margintoprightbottomleft(-172%, 20%, 50%, 5%);
            }
        
        h2 {
            .widthHeight(45%, auto);
            .fontsizefamily (4rem, 'Indie Flower');
            @media @mobile {
                .widthHeight(95%, auto);
                .margintoprightbottomleft(-90%, 20%, 0%, auto);
                .fontsizefamily (2.5rem, 'Indie Flower');
                }
        }
    
        p {
        .psize1();
        @media @mobile {
            .fontsizefamily (1.8rem, auto);
            }
        }
    }
    div.img-content2 {
        .displayFlex(flex-end, row, auto);
        .margintoprightbottomleft(2%, 50%, -15%, 4%);
        .displayFlex(space-evenly, auto, auto);
        @media @mobile {
            .widthHeight(100%, auto);
            .margintoprightbottomleft(70%, 10%, 50%, 2%);
            padding-bottom: 90px;
            }
    
        img {
            border-radius: 50px;
            .widthHeight(95%, 300px);
            @media @mobile {
                .widthHeight(93%, 300px);
                border-radius: 15px;
            }
            
        }
    }
}
div.border2 {
    border-bottom: 1px dashed black;
    .widthHeight(90%, 100px);
    .margintoprightbottomleft(0%, 3%, 0%, 5%);
}

section.content-destination {
    .displayFlex(center, column, center);
    .margintoprightbottomleft(0%, 1%, 0%, 5%);
    border-bottom: 1px dashed black;
    .widthHeight(85%, 100%);
    padding-bottom: 35px;
    h2 {
        .fontsizefamily (4rem, 'Indie Flower');
        @media @mobile {
            .margintoprightbottomleft(6%, 0%, 4%, -44%);
            .fontsizefamily (2.5rem, 'Indie Flower');
            }
    }
    
    p {
        .psize1();
        .margintoprightbottomleft(-2%, 13%, 1%, 13%);
        @media @mobile {
            .margintoprightbottomleft(0%, 0%, 5%, auto);
            .fontsizefamily (1.8rem, auto);
            }
    }
    img {
        border-radius: 50px;
        .widthHeight(75%, 300px);
        @media @mobile {
            .widthHeight(110%, 180px);
            .margintoprightbottomleft(0%, -10%, 5%, auto);
            border-radius: 15px;
        }
    }
}
section.content-pick {
    .displayFlex(space-evenly, row, center);
    .margintoprightbottomleft(0%, 13%, 0%, 13%);
    @media @mobile {
        .displayFlex(space-evenly, column, center);
        }
     h4 {
        .fontsizefamily (2.8rem, 'Indie Flower');
        @media @mobile {
            .margintoprightbottomleft(6%, 0%, 14%, 0%);
            .fontsizefamily (2.5rem, 'Indie Flower');
            }
     }
     p {
        .psize1();
        text-align: left
        .margintoprightbottomleft(-2%, 13%, 5%, 0%);
        @media @mobile {
            .margintoprightbottomleft(-10%, 0%, 5%, auto);
            .fontsizefamily (1.8rem, auto);
            }
     }
     div.btn {
        background-color: darkcyan;
        border-radius: 50px;
        .widthHeight(70%, 35px);
        .margintoprightbottomleft(2%, 23%, 3%, 1%);
        text-align: center;
        color: white;
        .fontsizefamily (2.5rem, 'Times new roman');
        padding-top: 15px;
        @media @mobile {
            .widthHeight(100%, 40px);
            .margintoprightbottomleft(0%, 0%, 0%, 0%);
            .fontsizefamily (1.9rem, 'Times new roman');
        }
        }
}
footer.footer {
    border-top: 1px dashed black;
    text-align: center;
    background-color: wheat;
    .fontsizefamily (1.5rem, 'Times new roman');
    .widthHeight(auto, 65px);
    .margintoprightbottomleft(2%, 0%, 1%, 0%);
}